<form action="<%= @@new_blog_path %>" method="POST">
<div>
<label>title:</label>
<input name="title" type="text" required>
</div>
<div>
<label>hashtag:</label>
<input name="hashtag" type="text" required>
</div>
<div>
<input type="submit" value="new blog">
</div>
</form>
<a href="<%= @@app_path %>">back</a>
