<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="/foundation.css" type="text/css">
	<link rel="stylesheet" href="/layout.css" type="text/css">
</head>

<title>
	DogeBarks
</title>

<body>

<main>
<% if current_user %>
<a href="<%= @@app_path %>">
<% else %>
<a>
<% end %>
<h1>
DogeBarks
</h1></a>
	<%unless session[:info].nil? or session[:info][:image].nil? or session[:info][:image].empty? %><img id="avatar" src="<%= session[:info][:image] %>"><% end %>
	<% unless flash[:message].nil? %>
        <div><%= flash[:message] %></div>
        <% end %>
<%= yield %>
</main>
</body>
<script>
function imgify(text) {
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
        return '<a href="' + url + '"><img onerror="this.style.display=\'none\'" src="' + url + '">' + url + '</a>';
    })
}
var tweets = document.querySelectorAll("div.tweet");
for(var i = 0; i < tweets.length; i++)
{
  tweets[i].innerHTML = imgify(tweets[i].innerText);
}
</script>
</html>
