<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="/foundation.css" type="text/css">
	<link rel="stylesheet" href="/layout.css" type="text/css">
</head>

<title>
	DogeBarks
</title>

<body>

<% if current_user %>
<a href="<%= @@app_path %>">
<% else %>
<a>
<% end %>
<h1>
DogeBarks
</h1>
	<img id="masterDoge" src="/images/doge.jpeg">
	<div id="caption">Master Barker</div></a>
<%= yield %>
</body>

</html>
