<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="/foundation.css" type="text/css">
	<link rel="stylesheet" href="/layout.css" type="text/css">
</head>

<title>
	DogeBarks
</title>

<body>

<main>
<% if current_user %>
<!-- <a href="<%= @@app_path %>">
<% else %>
<a>
<% end %> -->
<h1>
<img id="doge" src="images/public/doge.jpeg">
DogeBarks
<img id="doge" src="images/public/doge.jpeg">
</h1><!-- </a> -->
	<%unless session[:info].nil? or session[:info][:image].nil? or session[:info][:image].empty? %><img id="avatar" align="right" src="<%= session[:info][:image] %>"><% end %>
	<% unless flash[:message].nil? %>
        <div><%= flash[:message] %></div>
        <% end %>
<%= yield %>
</main>
</body>

</html>
